Repository amitai1997/TicketChain: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, solhint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'develop']

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm eslint
        language: node
        types_or: [javascript, jsx, ts, tsx]
        args: ['--fix']

      - id: solhint
        name: Solhint
        entry: pnpm solhint
        language: node
        types: [file]
        files: \.sol$

      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: node
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]

      - id: test
        name: Run tests
        entry: pnpm test
        language: node
        pass_filenames: false
        stages: [pre-push]

      - id: commitlint
        name: Validate commit message
        entry: pnpm commitlint --edit
        language: node
        stages: [commit-msg]

check coverage
  hardhat.config.ts.bak
Due: none

fix: refactor TicketNFT contract to address stack too deep errors
  .husky/pre-commit
  .solcover.js
  contracts/TicketNFT.sol
  contracts/libs/TicketValidation.sol
  hardhat.config.ts.bak
  package.json
  scripts/dummy-coverage.js
Due: eslint, solhint, prettier

fix: refactor TicketNFT contract to fix stack too deep errors and improve test coverage
  .husky/pre-commit
  .solcover.js
  contracts/TicketNFT.sol
  hardhat.config.ts.bak
  hardhat.coverage.config.ts
  package.json
  scripts/generate-better-coverage.js
  scripts/run-coverage-optimized.js
  test/unit/TicketNFT.cov.test.ts
Due: eslint, solhint, prettier

fix: update and fix all test files to work with refactored TicketNFT contract
  scripts/update-test-files.js
  test/integration/TicketTrading.integration.test.ts
  test/unit/AccessControl.test.ts
  test/unit/SecurityAndPausability.test.ts
  test/unit/TicketLifecycle.test.ts
Due: eslint, prettier

fix: update coverage output to show actual coverage metrics
  scripts/run-coverage-optimized.js
Due: eslint, prettier

fix: replace require statement with custom error to fix linting warning
  contracts/TicketNFT.sol
Due: solhint

trigger pipe
  scripts/run-coverage-optimized.js
Due: eslint, prettier

fix(frontend): add prop-types and its type definitions to dependencies
  frontend/package.json
Due: prettier

Remove unused build artifacts, logs, and legacy backup files
  backup/cleanup-20250508115312.zip
  frontend/src/pages/MintTicket.tsx.bak
  hardhat.config.ts.bak
  verify_fix.js
Due: eslint, prettier

fix linting issues
  .eslintignore
  frontend/pnpm-lock.yaml
  frontend/src/hooks/useTicketNFT.ts
  hardhat.config.ts.bak
  test/integration/TicketTrading.integration.test.ts
  test/unit/AccessControl.test.ts
  test/unit/SecurityAndPausability.test.ts
  test/unit/TicketLifecycle.test.ts
  test/unit/TicketNFT.cov.test.ts
Due: eslint, prettier

fix linting issues
  hardhat.config.ts.bak
Due: none

Add backup of files to be removed in cleanup
  CLEANUP_REVIEW.md
  backup/cleanup-20250508_155045.zip
Due: prettier

Remove unused obsolete files
  frontend/src/pages/MintTicket.tsx.bak
  hardhat.config.ts.bak
  verify_fix.js
Due: eslint, prettier

Fix syntax and testing errors in test files and scripts
  hardhat.config.ts
  scripts/mint-tickets.ts
  test/unit/AccessControl.test.ts
  test/unit/TicketNFT.cov.test.ts
Due: eslint, prettier

Fix TypeScript errors in test files and scripts
  scripts/mint-tickets.ts
  scripts/utils/role-setup.ts
  test/unit/AccessControl.test.ts
  test/unit/TicketNFT.cov.test.ts
Due: eslint, prettier

Fix script TypeScript errors with ethers v6 integration
  scripts/mint-tickets.ts
  scripts/utils/role-setup.ts
Due: eslint, prettier

format: root directory
  .nycrc.json
  .solcover.js
  contracts/TicketNFT.sol
  contracts/libs/TicketValidation.sol
  contracts/mocks/ReentrancyAttack.sol
  hardhat.coverage.config.ts
  package.json
  prettier.config.js
  scripts/coverage-check-wrapper.js
  scripts/dummy-coverage.js
  scripts/generate-better-coverage.js
  scripts/mint-tickets.js
  scripts/mint-tickets.ts
  scripts/run-coverage-optimized.js
  scripts/update-test-files.js
  scripts/utils/role-setup.ts
  test/integration/TicketTrading.integration.test.ts
  test/unit/AccessControl.test.ts
  test/unit/SecurityAndPausability.test.ts
  test/unit/TicketLifecycle.test.ts
  test/unit/TicketNFT.cov.test.ts
Due: eslint, solhint, prettier

feature: allow event registration
  COMMIT_MESSAGE.md
  README.md.new
  contracts/EventRegistry.sol
  contracts/EventTicket.sol
  contracts/interfaces/IEventRegistry.sol
  contracts/interfaces/IEventTicket.sol
  hardhat.config.ts.bak
  package.json.new
  scripts/create-event.ts
  scripts/deploy-contracts.ts
  scripts/mint-tickets.ts
  test/integration/EventTicketSystem.test.ts
  test/integration/TicketTrading.integration.test.ts
  test/unit/EventRegistry.test.ts
  test/unit/EventTicket.test.ts
  test/unit/TicketNFT.cov.test.ts
Due: eslint, solhint, prettier

format: run format command
  COMMIT_MESSAGE.md
  contracts/EventRegistry.sol
  contracts/EventTicket.sol
  scripts/create-event.ts
  scripts/deploy-contracts.ts
  scripts/mint-tickets.ts
  test/integration/EventTicketSystem.test.ts
  test/integration/TicketTrading.integration.test.ts
  test/unit/EventRegistry.test.ts
  test/unit/EventTicket.test.ts
  test/unit/TicketNFT.cov.test.ts
Due: eslint, solhint, prettier
