Repository amitai1997/TicketChain: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, solhint, prettier

eslint:
  name: ESLint
  entry: pnpm eslint
  language: node
  args:
  - --fix

solhint:
  name: Solhint
  entry: pnpm solhint
  language: node

prettier:
  name: Prettier
  entry: pnpm prettier --write
  language: node

trigger pipe
  frontend/package.json
Due: prettier

fix: add contract artifact files for build
  frontend/src/artifacts/contracts/TicketNFT.sol/TicketNFT.json
Due: prettier

fix: add JSON module declaration and update tsconfig to support JSON artifact imports in frontend
  frontend/src/types/json.d.ts
  frontend/tsconfig.json
Due: eslint, prettier

fix: rename frontend tsconfig to avoid Hardhat/TypeScript config conflict
  frontend/tsconfig.frontend.json
Due: prettier

trigger pipe
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: prettier

run pipeline
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

run pipeline
  test/tsconfig.json
Due: prettier

trigger pipe
  package.json
  pnpm-lock.yaml
Due: prettier

fix: resolve TypeScript build errors in frontend
  .github/workflows/frontend-test-build.yml
  frontend/package.json
  frontend/src/interfaces/ITicketMetadata.ts
  frontend/src/types/react-jsx.d.ts
  frontend/tsconfig.json
Due: eslint, prettier

trigger pipe
  .github/workflows/frontend-test-build.yml
  tsconfig.json
Due: prettier

update TicketNFT.json file
  frontend/src/artifacts/contracts/TicketNFT.sol/TicketNFT.json
Due: prettier

trigger pipe
  frontend/src/artifacts/contracts/TicketNFT.sol/TicketNFT.json
  frontend/tsconfig.node.json
  tsconfig.json
Due: prettier

trigger pipe
  .github/workflows/ci.yml
Due: prettier

update package.json
  package.json
Due: prettier

fix tests stage
  hardhat.config.js
  package.json
Due: eslint, prettier

try to fix test stage in CI
  tsconfig.hardhat.json
Due: prettier

fix: update typescript configuration for ci compatibility
  hardhat.config.js
  hardhat.config.ts
  tsconfig.json
Due: eslint, prettier

try to fix test stage
  .node-version
  .solcover.js
  tsconfig.hardhat.json
  verify_fix.js
Due: eslint, prettier

fix: complete typescript config and add supporting files
  .node-version
  verify_fix.js
Due: eslint, prettier

trigger pipe
  tsconfig.json
Due: prettier

fix: update snyk action in ci workflow to generate sarif file
  .github/workflows/ci.yml
Due: prettier

fix: add integration tests and update CI pipeline
  .github/workflows/ci.yml
  test/integration/TicketTrading.integration.test.ts
Due: eslint, prettier

feat: add improved deployment and minting scripts for local development
  package.json
  scripts/deploy-and-mint.js
  scripts/deploy-local.js
Due: eslint, prettier

docs: update README with new deployment and minting workflows
  README.md
Due: prettier

fix: update test timestamps to use blockchain time
  test/unit/TicketLifecycle.test.ts
Due: eslint, prettier

trigger pipe
  test/integration/TicketTrading.integration.test.ts
Due: eslint, prettier

feat: update minting scripts for ethers.js v6 compatibility
  package.json
  scripts/mint-existing.js
  scripts/mint-force.js
  scripts/mint-only.js
  scripts/mint-simple.js
Due: eslint, prettier

fix minting
  scripts/mint-existing.js
  scripts/mint-force.js
  scripts/mint-only.js
  scripts/mint-simple.js
  scripts/mint-tickets.js
Due: eslint, prettier

fix: change date stops from crashing the app
  .gitignore
  frontend/src/pages/MintTicket.tsx
Due: eslint, prettier

fix time selector issue
  frontend/src/components/DateTimePicker.tsx
  frontend/src/pages/MintTicket.tsx
Due: eslint, prettier

fix clock icon coloring
  frontend/src/pages/MintTicket.tsx
  frontend/src/styles/globals.css
Due: eslint, prettier

fix(frontend): resolve linting errors in DateTimePicker and MintTicket components
  contracts/EventRegistry.sol
  frontend/src/components/DateTimePicker.tsx
  frontend/src/pages/MintTicket.tsx
  src/pages/MintTicket.tsx
Due: eslint, solhint, prettier

fix: resolve linting errors in frontend components and Solidity contracts
  contracts/EventRegistry.sol
  contracts/TicketNFT.sol
  contracts/mocks/ReentrancyAttack.sol
Due: solhint

refactor(contracts): improve code quality by replacing require with custom errors
  contracts/EventRegistry.sol
  contracts/TicketNFT.sol
Due: solhint

remove event contract
  contracts/EventRegistry.sol
Due: solhint

chore: improve testing configuration
  .nycrc.json
  hardhat.config.ts
Due: eslint, prettier

fix: update coverage configuration to handle stack too deep errors
  .husky/pre-commit
  .solcover.js
  hardhat.coverage.config.ts
  package.json
  scripts/coverage-check-wrapper.js
  scripts/run-coverage.js
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  solhint: any of: \.sol$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$
