Repository amitai1997/TicketChain: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, solhint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'develop']

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm eslint
        language: node
        types_or: [javascript, jsx, ts, tsx]
        args: ['--fix']

      - id: solhint
        name: Solhint
        entry: pnpm solhint
        language: node
        types: [file]
        files: \.sol$

      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: node
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]

      - id: test
        name: Run tests
        entry: pnpm test
        language: node
        pass_filenames: false
        stages: [pre-push]

      - id: commitlint
        name: Validate commit message
        entry: pnpm commitlint --edit
        language: node
        stages: [commit-msg]

chore: update ci.yml formatting
  .github/workflows/ci.yml
Due: prettier

feat: Add modern React frontend with Web3 integration
  .github/workflows/frontend-test-build.yml
  frontend/.env.example
  frontend/app.js
  frontend/connection-test.html
  frontend/index.html
  frontend/minimal.html
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/ticket-icon.svg
  frontend/src/App.tsx
  frontend/src/__tests__/Dashboard.test.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/lib/wagmi.ts
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/MintTicket.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/VerifyTicket.tsx
  frontend/src/setupTests.ts
  frontend/src/styles/globals.css
  frontend/styles.css
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: eslint, prettier

fix: Fix dependencies and build issues in frontend
  frontend/.env.development
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/__tests__/Dashboard.test.tsx
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/lib/wagmi.ts
  frontend/src/main.tsx
  frontend/src/pages/MintTicket.tsx
  frontend/src/pages/VerifyTicket.tsx
  frontend/src/setupTests.ts
  frontend/src/types/index.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: eslint, prettier

fix: Update Hardhat chain ID and network configuration for MetaMask compatibility
  frontend/package.json
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/lib/wagmi.ts
  frontend/vite.config.ts
Due: eslint, prettier

fix: Update server config and contract interaction to fix connection and minting issues
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/pages/MintTicket.tsx
  frontend/vite.config.ts
Due: eslint, prettier

fix: Add proper token ID calculation and enhanced error handling for contract interactions
  frontend/public/debug.html
  frontend/src/debug.ts
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/pages/MintTicket.tsx
Due: eslint, prettier

fix: Implement direct contract interaction for minting tickets
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/pages/MintTicket.tsx
Due: eslint, prettier

partially working checkpoint
  frontend/src/lib/errorHandler.ts
  frontend/src/lib/providers.ts
  scripts/deploy-debug.js
  scripts/mint-tickets.ts
  scripts/utils/role-setup.ts
Due: eslint, prettier

WIP some problem fixed. best so far
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/pages/MintTicket.tsx.bak
  frontend/src/pages/VerifyTicket.tsx
  scripts/mint-tickets.ts
  test/unit/AccessControl.test.ts
Due: eslint, prettier

partially working version
  frontend/public/direct-mint.html
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/pages/MintTicket.tsx
  hardhat.config.ts
  scripts/hardhat-test-mint.js
  scripts/mint-ticket-cli.js
  scripts/mint-tickets.ts
  scripts/test-mint.js
Due: eslint, prettier

checkpoint: working version
  README.md
  hardhat.config.ts
Due: eslint, prettier

fix: update chain ID in hardhat.config.js from 31337 to 1337 to match MetaMask settings
  aaa
  hardhat.config.js
Due: eslint, prettier

fix(ci): update upload-artifact to v4 in GitHub Actions workflow
  .github/workflows/ci.yml
Due: prettier

chore: update 'upload-artifact' to use v4 instead of v3
  .github/workflows/frontend-test-build.yml
Due: prettier

fix: update contract and tests for OpenZeppelin v5.0.0 compatibility
  contracts/TicketNFT.sol
  contracts/mocks/ReentrancyAttack.sol
  test/unit/AccessControl.test.ts
  test/unit/SecurityAndPausability.test.ts
  test/unit/TicketLifecycle.test.ts
Due: eslint, solhint, prettier

fix: optimize contracts for solidity-coverage and add coverage configurations
  .husky/pre-commit
  .solcover.js
  contracts/TicketNFT.sol
  hardhat.config.ts
  package.json
Due: eslint, solhint, prettier

try to trigger pipeline
  .github/actions/setup-env/action.yml
Due: prettier

fix: update GitHub workflow files and pnpm-lock.yaml
  .github/workflows/ci.yml
  .github/workflows/frontend-test-build.yml
  frontend/pnpm-lock.yaml
Due: prettier

fix: update frontend ESLint configuration
  frontend/.eslintrc.js
  frontend/package.json
Due: eslint, prettier

trigger pipeline
  frontend/.eslintrc.js
Due: eslint, prettier

trigger pipe
  frontend/package.json
Due: prettier

eslint.config.js -> eslint.config.mjs
  eslint.config.mjs
Due: eslint, prettier

.eslintrc.js -> .eslintrc.cjs
  .eslintrc.cjs
Due: eslint, prettier

try to fix /frontend/.eslintrc.cjs file
  frontend/.eslintrc.cjs
  frontend/.eslintrc.js
Due: eslint, prettier

install 'eslint-plugin-react'
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

lint frontend
  frontend/.eslintrc.cjs
  frontend/src/hooks/useTicketNFT.ts
  frontend/src/lib/providers.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/MintTicket.tsx
Due: eslint, prettier

fix: add setupTests.ts and update vitest config
  frontend/src/setupTests.ts
  frontend/vitest.config.ts
Due: eslint, prettier

fix: add mocks for contract artifacts to fix tests
  frontend/src/tests/App.test.tsx
  frontend/src/tests/mocks/AppMock.tsx
  frontend/src/tests/mocks/TicketNFT.json
  frontend/src/tests/mocks/mockModules.ts
  frontend/vitest.config.ts
Due: eslint, prettier

lint
  frontend/src/tests/mocks/AppMock.tsx
  frontend/src/tests/mocks/mockModules.ts
Due: eslint, prettier

fix: update test for TicketChain header
  frontend/src/tests/App.test.tsx
Due: eslint, prettier

fix: resolve TypeScript build errors
  frontend/src/debug.ts
  frontend/src/lib/providers.ts
  frontend/src/tests/mocks/mockModules.ts
  frontend/src/vite-env.d.ts
Due: eslint, prettier

fix(frontend): remove unused variables to resolve lint errors
  frontend/src/debug.ts
  frontend/src/lib/providers.ts
Due: eslint, prettier

fix(frontend): remove unused ImportMetaEnv interface to resolve lint error
  frontend/src/debug.ts
Due: eslint, prettier

fix: resolve TypeScript declarations conflict
  frontend/src/debug.ts
  frontend/src/lib/providers.ts
  frontend/src/types/global.d.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
Due: eslint, prettier

fix(frontend): remove unused handler and use import for global types (lint)
  frontend/src/lib/providers.ts
  frontend/src/vite-env.d.ts
Due: eslint, prettier

trigger pipe
  frontend/src/types/global.d.ts
Due: eslint, prettier

fix(frontend): copy contract artifact before build to fix CI build error
  frontend/package.json
Due: prettier
